@media screen and (max-width: 1000px) {
    /*================================================= Général =================================================*/
    .purple {top: 47%;;}
    .yellow {
        bottom: 35%;
    }
    /*================================================= Navigation =================================================*/
    .to-top {
        display: none;
    }
    nav {
        transform: translateX(0);
        transform: translateY(12%);
        top: 89%;
        height: 12%;
        width: 100%;
        border-radius: 20px 20px 0px 0px;
        display: flex;
    }
        nav a {
            height: 100%;
            width: 33.3%;
            font-family: ArgentumNormal;
            font-size: 15px;
            text-decoration: none;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            transition: all 0.3s ease-in-out;
            transform: scale(1);
        }
    .visible {
        transform: translateY(0);
    }
/*================================================= Accueil =================================================*/
    #main {
        display: flex;
        flex-direction: column-reverse;
    }
        .moving {
            max-width: 20%;
        }
        #main .white {
            right: 20%;
        }
        #main .grey {
            right: 16%;
        }
        #main .purple {
            right: 10%;
        }
        #main .blue {
            right: 30%;
        }
        #main .littlePink {
            max-width: 12%;
            right: 60%;
            bottom: 50%;
        }

    .title-container {
        width: 100%;
        height: 50%;
    }

    .title-container .title, .title-container .subtitle {
        top: 10%;
    }

    .img-container {
        display: flex;
        align-items: flex-end;
        width: 100%;
        height: 50%;
    }
    .img {
        width: 50%;
    }
    .download-container {
        position: static;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 50%;
    }
    .download{
        position: relative;
        bottom: 0;
        right: 0;
        display: flex;
    }
    .mobile {
        display: flex;
    }
    .desktop {
        display: none;
    }

    /*====================================================== Qui je suis ? =================================================*/

    .grid {
        margin-bottom: 10%;
    }   
    .grid p {
        width: 100%;
        padding: 5vw;
    }

    .number-container {
        height: 30vw;
    }

    /*====== Mes outils ======*/
    .tools {
        height: 60rem;
    }

    .logo-container{
        align-items: center;
    }
    .logo-container img{
        width: 50%;
    }
    .hovered {
        transform: translateY(50px);
    }

    /*====================================================== Work =================================================*/
    .work .tools-grid {
        gap: 10vw;
        margin-bottom: 10%;
    }
    .tools-grid section {
        width: 300px;
    }

}
    
@media screen and (max-width: 630px) {
    .about {
        height: 90rem;
    }
}

@media screen and (min-width: 1001px) and (max-width: 1218px) {
    .title-container .subtitle {
        font-size: clamp(20px, 3vw, 40px);
    }
}


