@font-face {
    font-family: "ArgentumBlack";
    src: url("../font/ArgentumSans-ExtraBold.ttf")
}
@font-face {
    font-family: "ArgentumNormal";
    src: url("../font/ArgentumSans-Medium.ttf")
}
@font-face {
    font-family: "Montserrat";
    src: url('../font/Montserrat-Medium.ttf');
}

@font-face {
    font-family: "ArgentumBlack";
    src: url("../font/ArgentumSans-ExtraBold.ttf");
}


/*================================================= Chargement du site =================================================*/
.loader {
    z-index: 999;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: var(--background);
    display: flex;
    justify-content: center;
    align-items: center;
}
.endload {
    z-index: -1;
    opacity: 0;
    transition: all 1s ease-out;
}
  
.coffee {
    background: #fff;
    display: grid;
    border-radius: 4px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    height: 40px;
    position: relative;
    width: 40px;
    padding: 2px;
    justify-items: center; 
}
    .coffee:before {
        box-sizing: border-box;
        content: '';
        height: 26px;
        width: 20px;
        border: 4px solid #fff;
        position: absolute;
        top: 50%;
        margin-top: -13px;
        margin-left: -10px;
        left: 100%;
        border-radius: 4px; 
    }
    .coffee div {
        user-select: none;
        height: 20px;
        width: 8px;
        background: #fff;
        opacity: .3;
        animation: loading 2s infinite; 
    }
    .coffee div:nth-child(1) {animation-delay: 0.4s; }
    .coffee div:nth-child(2) {animation-delay: 1s; }
    .coffee div:nth-child(3) {animation-delay: 0.2s; }

/*================================================= Dark Mode =================================================*/
.toggle-btn {
    position: absolute;
    top: 15%;
    right: 10%;
    font-size: 15px;
    border-radius: 20px;
}

input[type="checkbox"] {
    visibility: hidden;
    display: none;
}

.check {
    position: relative;
    display: block;
    width: 70px;
    height: 30px;
    background: transparent;
    cursor: pointer;
    outline: 2px solid var(--text);
    border-radius: 20px;
    overflow: hidden;
    transition: ease-in 0.5s;
}
    .check:before {
        content: '';
        position: absolute;
        top: 3px;
        left: 5px;
        background: var(--text);
        width: 23px;
        height: 23px;
        border-radius: 50%;
        transition: 0.5s;
    }
    .check:after {
        content: '';
        position: absolute;
        top: 3px;
        right: 5px;
        background: #0D1117;
        width: 23px;
        height: 23px;
        border-radius: 50%;
        transition: 0.5s;
        transform: translateX(70px);
    }

.icon1 {
    position: absolute;
    top: 23%;
    left: 70%;
}
.icon2 {
    position: absolute;
    top: 23%;
    right: 70%;
    display: none;
}


input[type="checkbox"]:checked ~ .check {
    background: transparent;
}
    input[type="checkbox"]:checked ~ .check:before{
        transform: translateX(-70px);
    }
    input[type="checkbox"]:checked ~ .check:after {
        transform: translateX(0px);
    }


/*================================================= Général =================================================*/
:root {
    --text: white;
    --background: #0D1117;
    --secondary-bg: #161B22;
}

*, ::before, ::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    color: var(--text);
    scroll-behavior: smooth;
}



body {
    transition: all ease-out 0.3s;
    background-color: var(--background);
    display: flex;
    flex-direction: column;
    position: relative;
}

.moving {
    position: absolute;
    animation: moving 3s ease-in-out 0s infinite alternate none;
    max-width: 10%;
    height: auto;
}
.purple {
    top: 53%;
    left: 5%;
}
.blue {
    animation-delay: -2s;
    top: 32%;
    right: 6%;
}
.littlePink {
    animation-delay: -7s;
    top: 38%;
    left: 10%;
}
.yellow {
    animation-delay: -1s;
    bottom: 25%;
    right: 10%;
}
.white {
    animation-delay: -4s;
    bottom: 10%;
    left: 10%;
}



/*================================================= Navbar =================================================*/

nav {
    transform: translateX(-100px);
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
    z-index: 10;
    background-color: var(--secondary-bg);
    position: fixed;
    top: 35%;
    height: 300px;
    width: 5%;
    text-align: center;
    border-radius: 0 20px 20px 0;
}
    nav a {
        padding: 10px;
        height: 33.3%;
        font-family: ArgentumNormal;
        font-size: 15px;
        color: var(--text);
        text-decoration: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: all 0.3s ease-in-out;
        transform: scale(1);
        cursor: pointer;
        user-select: none;
    }
        nav a i {
            font-size: 20px;
            margin-bottom: 10px;
        }
    
        nav a:hover {
            transition: all 0.3s ease-in-out;
            transform: scale(1.1);
        }

.visible {
    visibility: visible;
    transform: translateX(0);
    opacity: 1;
    transition: all 0.5s ease-in-out;
}



/*====================================================== Scroll to top =================================================*/
.to-top {
    position: fixed;
    display: flex;
    text-decoration: none;
    visibility: hidden;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: var(--secondary-bg) ;
    width: 40px;
    height: 40px;
    bottom: 5%;
    opacity: 0;
    right: 5%;
    transform: translateY(10px);
    transition: all 0.5s ease-in-out;
}
    .to-top i {
        font-size: 20px;
        color: var(--text);
    }

.to-top:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: all 0.5s ease-in-out;
}

/*================================================= Accueil =================================================*/
#main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    position: relative;
}
    /* Formes qui bougent */
    #main .bigPink {
        top: 10%;
        left: 10%;
    }
    #main .yellow {
        bottom: 10%;
        left: -1%;
    }
    #main .blue {
        right: 15%;
        top: 30%;
    }
    #main .purple {
        top: auto;
        left: auto;
        right: 40%;
        bottom: 10%;
    }
    #main .white {
        z-index: 1;
        right: 45%;
        bottom: auto;
        left: auto;
        top: -1%;
    }
    #main .grey {
        animation-delay: -5s;
        right: 44%;
        top: -1%;
        left: auto;
    }
    #main .littlePink {
        right: 30vw;
        bottom: 30%;
        top: auto;
        left: auto;
    }

/* Titres */
.title {
    font-family: ArgentumBlack;
    font-size: 500%;
}

.second-title {
    font-family: ArgentumBlack;
    font-size: 300%;
}

.first-title.title {
    font-size: 500%; /* taille de police de votre choix pour la classe title */
}

.first-title.second-title {
    margin-top: 50px;
    font-size: 300%; /* la moitié de la taille de police de la classe title */
}

.space {
    margin-top: 50px;
}

.subtitle {
    font-family: ArgentumBlack;
}


.title-container {
    width: 50%;
    height: 100%;
}
.title-container .title, .title-container .subtitle {
    position: relative;
    width: 100%;
    top: 50%;
    text-align: center;
}

.title-container .title {
    font-size: clamp(35px, 5vw, 60px);
}    
    .highlight {
        color: #FFAF47;
    }

.title-container .subtitle {
    margin-top: 2vw;
    text-align: left;
    overflow: hidden;
    font-size: clamp(20px, 5vw, 40px);
}
.subtitle-text {
    display: flex;
    justify-content: center;
}

.languages {
    position: relative;
    word-break: keep-all;
    height: 60px;
    animation: carousel 8s ease-in-out infinite;
}

.language {
    margin-left: 5%;
    height: 60px;
}


/* Image */
.img-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
}
.img {
    width: 40%;
    height: auto;
    clip-path: circle(50% at 50% 50%);
}

.download-container {
    font-family: ArgentumNormal;
    position: absolute;
    bottom: 30%;
    right: 14%;
}
.download {
    position: absolute;
    bottom: 10%;
    right: 20%;
    font-size: clamp(15px, 2vw, 20px);
    background-color: #F45B69;
    border: 3px solid #F45B69;
    border-radius: 30px;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    color: white;
    transition: all 0.25s ease-in-out;
}
    .download:hover {
        transform: translateY(-5px);
        background-color: transparent;
        color: #F45B69;
        transition: all 0.25s ease-in-out;
    }

.mobile {
    display: none;
}

/*====================================================== Qui je suis ? =================================================*/
.about {
    margin-top: 10%;
    height: 120rem;
}

.presentation {
    display: flex;
    flex-direction: column;
    align-items: center;
}



.first-container {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
}




.first-title { 
    margin-left: 10vw;
    position: relative;
    max-width: 320px;
    min-width: 150px;
    font-size: clamp(30px, 5vw, 50px);
}
    .first-title:after {
        content: '';
        position: absolute;
        width: 30%;
        height: 10%;
        top: -20%;
        left: 0;
        background-color: var(--text);
        transition: transform 0.25s ease-out;
    }

.grid {
    margin-top: 10%;
    margin-bottom: 10%;
    position: relative;
    width: 80%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 5rem;
}

.grid p {
    z-index: 2;
    /* background-color: #161B22; */
    background-color: var(--secondary-bg);
    width: 400px;
    padding: 2vw;
    border-radius: 10px;
    color: var(--text);
    font-family: Montserrat;
    font-size: clamp(15px, 3vw, 20px);
}

.number-container {
    width: 100%;
    height: 20vh;
    z-index: 5;
}

.experience-container {
    width: 50%;
    height: 100%;
    float: left;
    display: flex;
    justify-content: flex-end;
}
    .experience {
        width: 30vw;
        border: 3px solid var(--text);
        border-radius: 30px 0 0 30px;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .experience h1 {
        font-size: clamp(20px, 5vw, 60px);
    }
    .experience p {
        font-size: clamp(15px, 3vw, 20px);
    }

.nbr-projet-container {
    width: 50%;
    height: 100%;
    float: right;
}
    .nbr-projet {
        height: 100%;
        width: 30vw;
        border: 3px solid var(--text);
        background-color: var(--text);
        color: var(--background);
        border-radius: 0 30px 30px 0;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .nbr-projet h1 {
        font-size: clamp(20px, 5vw, 60px);
    }
    .nbr-projet p {
        font-size: clamp(15px, 3vw, 20px);
    }

/*====== Mes outils ======*/
.tools {
    height: 100rem;
    position: relative;
}
.tools-grid {
    margin-top: 5%;
    margin-bottom: 5%;
    position: relative;
    width: 80%;
    display: grid;
    align-items: center;
    text-align: center;
    justify-items: center;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, 120px);
    gap: 10vw;
}

.tools-grid img {
    display: flex;
    width: 100%;
    height: auto;
    transition: transform 0.25s ease-in;
    z-index: 1;
}
.logo-container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.logo-container p {
    opacity: 0;
    position: absolute;
    user-select: none;
    font-size: clamp(15px, 3vw, 20px);
    transition: transform 0.25s ease-out;
}

.tools-grid img:hover {
    transform: scale(1.1);
    transition: transform 0.25s ease-out;
}

.hovered {
    transform: translateY(40px);
    transition: all 0.25s ease-in;
}

/*====================================================== Mes projets =================================================*/


.work {
    display: flex;
    flex-direction: column;
    align-items: center;
} 

.work .tools-grid {
    grid-template-columns: repeat(auto-fill, 400px);
    gap: 5vw;
    margin-bottom: 5%;
}

.tools-grid section {   
    font-family: Montserrat;
    width: 100%;
    position: relative;
    display: inline-block;
    border-radius: 15px;
    height: 220px;
    color: var(--text);
    background-color: var(--secondary-bg);
    transform-style: preserve-3d;
    transform: perspective(1000px);
  }
  .tools-grid section:hover {
    user-select: none;
    border: 1px solid rgba(255, 255, 255, 1);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  }

.section_title {
    font-size: 24px;
    font-weight: bold;
    margin: 3vh;
    padding: 0px 1px;
    transform: translateZ(50px);
}
.about_section {
    font-size: clamp(15px, 1vw, 20px);
    margin: 0 5vh;
    font-weight: bold;
    transform: translateZ(50px);
}
.bottom_section {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 2vh 2vh 2vh 0;
    font-size: 14px;
    transform: translateZ(50px);
  }
  
  .bottom_section span {
    display: inline-block;
    margin: 0 0 10px 10px;
    font-weight: bold;
  }
  
  .bottom_section span i {
    font-size: 15px;
  }

.more {
    border-radius: 25px;
    padding: 15px;
    margin-bottom: 10rem;
    border: 2px solid var(--secondary-bg);
    background-color: var(--secondary-bg);
    text-decoration: none;
    color: var(--text);
    font-size: clamp(15px, 3vw, 20px);
    transition: all 0.25s ease-in-out;
}
    .more:hover {
        background-color: transparent;
        border-color: var(--text);
        transform: translateY(-5px) !important;
        transition: all 0.25s ease-in-out !important;
    }
    .more::after {
        content: "⭣";
        position: absolute;
        text-align: center;
        top: 60px;
        left: 0;
        width: 100%;
        transform: translateY(-15px);
        opacity: 0;
        transition: all 0.5s ease-in;

    }
    .more:hover::after {
        transform: translateY(0px);
        opacity: 1;
        transition: all 0.5s ease-out;
    }

/*====================================================== Footer =================================================*/

footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color:var(--secondary-bg);
    height: 150px;

}

.footer-link {
    height: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
    .footer-link a {
        color: var(--text);
        margin: auto 15px;
        text-decoration: none;
        font-size: 25px;
        transition: transform 2s ease-in-out 0s;
    }
    .footer-link a:hover {
        transition: transform 1.5s ease-in-out 0s;
        transform: rotate(1080deg);
    }

.footer-text {
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: #6A6D72;
    user-select: none;
}
    .footer-text p:hover {
        animation: glow 2s infinite alternate;
    }


@keyframes glow{
    0%{
        color:#FFAF47;
        text-shadow:0px 0px 150px1#FFAF47;
    } 40%{
        color:#4062BB;
        text-shadow:0px 0px 150px#4062BB;
    } 70%{
        color:#F45B69;
        text-shadow:0px 0px 150px #F45B69;
    } 100%{
        color:#52489C;
        text-shadow:0px 0px 150px#52489C;
    }
}

@keyframes moving {
    0%{
        transform: translateY(0);
    }
    100%{
        transform: translateY(-50px);
    }
}

@keyframes carousel {
    0%, 20%{
        transform: translateY(0);
    }
    25%, 45%{
        transform: translateY(-60px);
    }
    50%, 70%{
        transform: translateY(-120px);
    }
    75%, 95%{
        transform: translateY(-180px);
    }
    100%{
        transform: translateY(-240px);
    }
}

@keyframes loading {
    100% {
        opacity: 0;
        transform: translateY(-200%); 
    } 
}



